* {
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-image: radial-gradient(rgba(84, 89, 95, 0.5), rgba(178, 127, 47, 0.5)), url(../../Images/background1.png);
  background-size: cover;
  background-position: 50%;
  padding: 0 20px 40px 20px;
}
header nav {
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav #logo img {
  width: 160px;
}
header nav .menuItems {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100vw;
}
header nav .menuItems ul li {
  padding: 15px 20px;
  background-color: white;
  border-bottom: 1px solid #eaeaea;
}
header nav .menuItems ul li a {
  color: black;
  text-decoration: none;
}
header nav .menuItems ul li:nth-of-type(5) {
  padding: 0;
  border-bottom: none;
}
header nav .menuItems ul li:nth-of-type(5) a {
  border: 2px solid black;
  display: inline-block;
  padding: 15px 20px;
  font-size: 0.75rem;
  letter-spacing: 1px;
}
header nav .menuIcon {
  height: max-content;
}
header nav .menuIcon div {
  width: 17px;
  height: 2px;
  margin-block: 3px;
  background-color: white;
}
header nav .menuIcon:hover {
  cursor: pointer;
}
header h1 {
  margin-bottom: 60px;
  font-size: 2.7rem;
  font-weight: 900;
  color: white;
  text-align: center;
}
header p {
  margin-bottom: 60px;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: white;
  white-space: pre-wrap;
}
header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > div a:first-child {
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  background-color: #E4E3E0;
}
header > div a:last-child {
  border: 2px solid #7D5151;
  background-color: #FCAC33;
}
header > div a {
  padding: 16px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: black;
  text-decoration: none;
  letter-spacing: 1px;
}
header > div a:hover {
  background: linear-gradient(#6FA03D, #92C33A);
}

.menuIconClicked div:nth-of-type(1) {
  transform: rotate(45deg) translate(4px, 4px);
}
.menuIconClicked div:nth-of-type(2) {
  transform: rotate(-45deg) translate(-1px, 0px);
}
.menuIconClicked div:nth-of-type(3) {
  opacity: 0;
}

main section[id=subjects] {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}
main section[id=subjects] div {
  padding: 50px 35px;
  color: white;
}
main section[id=subjects] div h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 900;
}
main section[id=subjects] div ul {
  font-weight: 500;
  list-style: disc;
  list-style-position: inside;
}
main section[id=subjects] div ul li {
  padding-block: 4px;
}
main section[id=subjects] div:nth-of-type(1) {
  background: linear-gradient(#6FA03D, #92C33A);
  margin-bottom: 20px;
}
main section[id=subjects] div:nth-of-type(2) {
  background: linear-gradient(#D98822, #FCAC33);
  margin-bottom: 20px;
}
main section[id=subjects] div:nth-of-type(3) {
  background: linear-gradient(#CD1E23, #EF3D1F);
}
main section[id=aboutus] {
  padding: 50px 30px;
  background-image: linear-gradient(#FCAC33, #F2295B);
  color: white;
}
main section[id=aboutus] h2 {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}
main section[id=aboutus] p {
  font-weight: 500;
  text-align: center;
  white-space: pre-wrap;
  line-height: 20px;
}
main section[id=pricing] {
  padding: 50px 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../../Images/background2.jpg);
  background-size: cover;
  background-position: -160px;
  background-attachment: fixed;
}
main section[id=pricing] div {
  padding-block: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}
main section[id=pricing] div h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 40px;
}
main section[id=pricing] div p {
  margin-bottom: 80px;
  font-weight: 500;
}
main section[id=pricing] div a {
  border: 2px solid white;
  padding: 16px 40px;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
main section[id=pricing] div a:hover {
  background: linear-gradient(#6FA03D, #92C33A);
}
main section[id=getInTouch] {
  padding: 50px 30px;
}
main section[id=getInTouch] h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 30px;
}
main section[id=getInTouch] > div:nth-of-type(1) {
  margin-bottom: 60px;
}
main section[id=getInTouch] > div:nth-of-type(1) h3 {
  font-size: 1.65rem;
  font-weight: 800;
  margin-bottom: 15px;
}
main section[id=getInTouch] > div:nth-of-type(1) p {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
main section[id=getInTouch] > div:nth-of-type(1) p img {
  width: 14px;
  margin-right: 10px;
}
main section[id=getInTouch] > div:nth-of-type(1) p a {
  color: black;
  text-decoration: none;
}
main section[id=getInTouch] > div:nth-of-type(1) ul li {
  padding-block: 5px;
}
main section[id=getInTouch] div:nth-of-type(2) form input, main section[id=getInTouch] div:nth-of-type(2) form textarea {
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  padding: 10px;
  width: 100%;
  background-color: #fafafa;
}
main section[id=getInTouch] div:nth-of-type(2) form button {
  border: 2px solid black;
  padding: 16px 40px;
  background: transparent;
  font-size: 11px;
  letter-spacing: 1px;
}
main section[id=getInTouch] div:nth-of-type(2) form button:hover {
  cursor: pointer;
}
main section[id=map] iframe {
  width: 100%;
  height: 250px;
}

footer {
  padding: 20px 30px;
}
footer p {
  text-align: center;
  font-size: 0.9rem;
  line-height: 20px;
}
footer p a {
  color: #ffc808;
  text-decoration: none;
  font-weight: 900;
}

.message {
  margin-top: 10px;
  padding: 8px;
  display: none;
  line-height: 20px;
  letter-spacing: 1px;
}

@media (min-width: 550px) {
  header nav #logo img {
    width: 180px;
  }
  header nav .menuItems {
    width: 97.5vw;
  }
  main section[id=subjects] div {
    width: 400px;
    margin-inline: auto;
  }
}
@media (min-width: 750px) {
  header {
    padding: 0 30px 80px 30px;
  }
  header > div {
    flex-direction: row;
    justify-content: center;
  }
  header > div a:first-child {
    margin-bottom: 0;
    margin-right: 40px;
  }
  main section[id=getInTouch] {
    padding: 50px;
    display: flex;
    max-width: 1000px;
    margin-inline: auto;
  }
  main section[id=getInTouch] div:nth-of-type(1) {
    margin-bottom: 0;
    flex: 2;
  }
  main section[id=getInTouch] div:nth-of-type(2) {
    flex: 3;
  }
  main section[id=map] iframe {
    height: 400px;
  }
}
@media (min-width: 900px) {
  header {
    padding: 0 20px 80px 20px;
  }
  header nav {
    max-width: 1200px;
    margin-inline: auto;
  }
  header nav .menuItems {
    display: initial;
    position: initial;
    width: max-content;
  }
  header nav .menuItems ul {
    display: flex;
  }
  header nav .menuItems ul li {
    background: transparent;
    border-bottom: none;
  }
  header nav .menuItems ul li a {
    font-size: 1.1rem;
    color: white;
  }
  header nav .menuItems ul li:nth-of-type(5) {
    padding-left: 20px;
  }
  header nav .menuItems ul li:nth-of-type(5) a {
    border: 2px solid white;
    padding: 15px 30px;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
  header nav .menuIcon {
    display: none;
  }
  main section[id=subjects] {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  }
  main section[id=subjects] div {
    width: 30%;
    margin-inline: 0;
  }
  main section[id=subjects] div:nth-of-type(1) {
    margin-bottom: 0;
  }
  main section[id=subjects] div:nth-of-type(2) {
    margin-bottom: 0;
  }
  main section[id=aboutus] div {
    display: flex;
    max-width: 900px;
    margin-inline: auto;
  }
  main section[id=aboutus] h2 {
    margin-bottom: 0;
    flex: 2;
    padding-top: 50px;
  }
  main section[id=aboutus] p {
    flex: 3;
    text-align: left;
  }
  main section[id=pricing] {
    padding-block: 190px;
  }
  main section[id=pricing] div {
    max-width: 600px;
    margin-inline: auto;
  }
  main section[id=pricing] p {
    font-size: 1.5rem;
  }
}
@media (min-width: 1000px) {
  header {
    padding: 0 20px;
    height: 100vh;
  }
  header nav {
    margin-bottom: 150px;
    max-width: 1200px;
    margin-inline: auto;
  }
  header[id=contactHeader] {
    height: 60vh;
  }
}

/*# sourceMappingURL=index.css.map */
